<div class="fondo">
  <mat-toolbar color="primary">
    <span>Porfolio</span>
    <span class="example-spacer"></span>

    <div class="example-button-container">
      <button class="home-button" mat-raised-button color="primary">
        Primary
      </button>
      <button class="home-button" mat-raised-button color="primary">
        Primary
      </button>
      <button class="home-button" mat-raised-button color="primary">
        Primary
      </button>

      <button
        class="login-button"
        mat-mini-fab
        color="warn"
        aria-label="Login"
        routerLink="/login"
      >
        <mat-icon><span class="material-icons"> login </span></mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <!-- --------------------- -->
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile class="gridHome" [colspan]="2" [rowspan]="10"
      >1ddfsd
    </mat-grid-tile>
    <mat-grid-tile class="gridHome" [colspan]="2" [rowspan]="10"
      >2dfd
    </mat-grid-tile>
  </mat-grid-list>

  <!-- --------------------- -->
</div>
