.home-button {
  margin-right: 20px;

  border: 2px solid white;
  border-radius: 20px;
}

.home-button:active {
  background-color: #ffa420;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.login-button {
  border: 2px solid white;
}
